<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <img id="logo" src="/assets/img/logo.png" alt="Chat">
        {% block main %}{% endblock %}

        <p>Nous sommes en {{currentYear}}</p>
    </div>

    <script src="/assets/js/chat.js"></script>
</body>
</html>